/* Toaster Container */
.toaster {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Individual Toast */
.toast {
  background-color: #06762f;
  color: #fff;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  animation: slideIn 4s ease-in-out, slideOut 4s ease-in-out 4s forwards;
}

/* Animation Keyframes */
@keyframes slideIn {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideOut {
  0% {
      transform: translateX(0);
      opacity: 1;
  }
  100% {
      transform: translateX(100%);
      opacity: 0;
  }
}
