.card-container {
    background-color: rgb(247, 242, 242);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute cards evenly */
    gap: 10px; /* Adjust the gap between cards as needed */
  }
  
  .card {
    width: 300px;
    height: 350px;
    border: 1px solid #ddd; /* Add styling to the card */
    padding: 10px; /* Add padding to the card */
  }
  